.Offerlist{
    height: 31.25rem;
    padding: 1.25rem;
    
}
.Offerlist > button {
    background-color: gray;
    opacity: 50%;
}
/* .Offerlist > ul {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 5.9375rem;
} */
