.Slider {
    display: flex;
    width: auto;
    height: 31.25rem;
}

.Slider > img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.Slider img:hover {
    cursor: crosshair;
    width: 18.75rem;
    opacity: 1;
    filter: contrast(120%);
}

@media(max-width:430px) {
   .Slider {
    display: none;
   }

}